<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
<!-- this is footer -->
<div th:fragment="footer">
    <div class="container">
        <footer>
            &copy; 2023 The Lampwork hand made
            <span sec:authorize="isAuthenticated()"> | <strong>Logged user: </strong><span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>
<!--            <p>&copy; 2023 The Lampwork hand made</p>-->

                        <script type="text/javascript"
                                src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </footer>
    </div>
</div>
</body>
</html>