<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
<!-- this is header -->
<div th:fragment="header">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/home}" class="nav-link px-2 link-secondary">Главная</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Функция 1</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Функция 2</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">О нас</a></li>
            </ul>

            <div class="col-md-4 text-end">
                <a class="btn btn-outline-primary me-2" sec:authorize="isAnonymous()" th:href="@{/auth/login}"
                   role="button">Login</a>
                <a class="btn btn-primary" sec:authorize="isAnonymous()" th:href="@{/registration}" role="button">Registration</a>
                <a class="btn btn-primary" sec:authorize="isAuthenticated()" th:href="@{/logout}" role="button"
                   th:action="@{/logout}" method="post">Logout</a>
            </div>
        </header>
    </div>
</div>
</body>
</html>